<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140792705515-pcmnd1f6aqh8t3f1eefotfbqc1immer3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140792705515-pcmnd1f6aqh8t3f1eefotfbqc1immer3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>140792705515-0m75c03154v3qf2qh5cp8kho7ftbdvot.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBkvW5-vJ1q5Iyi9CU6Mt4EUdGOFrfxqok</string>
	<key>GCM_SENDER_ID</key>
	<string>140792705515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pizzaPlanet</string>
	<key>PROJECT_ID</key>
	<string>pizza-planet-app-03082904</string>
	<key>STORAGE_BUCKET</key>
	<string>pizza-planet-app-03082904.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140792705515:ios:e9a75b1a5f27e8876ee9ae</string>
	<key>DATABASE_URL</key>
	<string>https://pizza-planet-app-03082904-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>